doctype 5
html(lang="en")
  head
    title= 'GitHubMon'
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container-fluid
        block content