extends layout

block content

    h1.text-center Hooray for GitHubMon!

    p.text-center
        img.creature(src="/creature/githubmon/test/default.gif"   )
        img.creature(src="/creature/githubmon/test/ruby.gif"      )
        img.creature(src="/creature/githubmon/test/java.gif"      )
        img.creature(src="/creature/githubmon/test/javascript.gif")
        img.creature(src="/creature/githubmon/test/python.gif"    )
        img.creature(src="/creature/githubmon/test/c.gif"         )
        img.creature(src="/creature/githubmon/test/c++.gif"       )
        img.creature(src="/creature/githubmon/test/php.gif"       )
        img.creature(src="/creature/githubmon/test/shell.gif"     )